{%extends 'all-pictures/base.html'%}
{% block content %}
<div class="container">

  <div class="row ">

    
    {% for photo in photos %}
    <div class=" col-sm-4">

      <div class="card">

        <div class="card-header">
          <h2 class="text-center" style="font-family: 'Bungee Inline', cursive;">{{photo.name}}</h2>
        </div>
        <div class="card-body">
          <a href="/photo/{{photo.id}}"><img src="{{photo.image.url}}"style="width: 320px;height: 240px;" ></a>

          <i id="sharebtn" data-toggle="tooltip" title="copy link"data-clipboard-text="{{photo.image.url}}" class="fas fa-share-alt fa-3x" style="color:skyblue;padding-left: 2%;"></i>
          <a data-toggle="tooltip" title="share on facebook"href="https://www.facebook.com/share.php?u=https://new411.herokuapp.com/{{photo.image.url}}"> <i class="fab fa-facebook-square fa-3x" style="color: #3b5998;padding-left: 5%; " ></i></a>
        </div>
      </div>
    </div>
    {% endfor %}
   
  </div>
</div>
{% endblock %}