{%extends 'all-pictures/base.html'%}

{% block content %}

<div class="container">

  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-6">
        <h4 style="font-family: 'Bungee Inline', cursive;">{{photo.name}}</h4>

        <img src="{{photo.image.url}}" class="img-responsive">
      </div>


      <div class="col-sm-6" style="padding-top: 45%;font-family: 'Kaushan Script', cursive;">
        <div class="row">
          {% if photo.location%}
          <p>Location: {{photo.location.location_name}}</p>
          {% endif %}
          <p>Category: {{photo.category.title}}</p>
        </div>

        <div class="row">
          <p>Uploaded: {{photo.upload_date|timesince}} </p>
        </div>
        <i id="sharebtn" data-toggle="tooltip" title="copy link" data-clipboard-text="{{photo.image.url}}"
          class="fas fa-share-alt fa-3x" style="color:skyblue;padding-left: 2%;"></i>
        <a data-toggle="tooltip" title="share on facebook"
          href="https://www.facebook.com/share.php?u=http://nakishgallery.herokuapp.com">
          <i class="fab fa-facebook-square fa-3x" style="color: #3b5998;padding-left: 5%; "></i>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}