#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(8, 24, 168);
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
  }
#myBtn:hover {
    background-color: #555;
  }

#welcome{
    position: absolute;
    top: 40%;
    left: 50%;
    opacity: 0.7;
    transform: translate(-50%, -50%);  
}

#text{
    position: relative;
}
#textInner {
    animation:blinkingText 3s infinite;
    animation-delay: 1s;
}
@keyframes blinkingText{
    0%{     color: skyblue; }
    49%{    color: skyblue; }
    60%{    color: transparent; }
    99%{    color: transparent;  }
    100%{   color:skyblue;    }
}